alabaster==0.7.7
appnope==0.1.0
atom==0.3.9
avro==1.8.1
Babel==2.2.0
bd2k-python-lib==1.14a1.dev37
biopython==1.67
CacheControl==0.11.7
CommonMark==0.5.4
cwltest==1.0.20170214185319
cwltool==1.0.20161221171240
decorator==4.0.6
dill==0.2.5
docutils==0.12
flake8==2.5.1
futures==3.0.5
ipykernel==4.2.2
ipython==4.1.1
ipython-genutils==0.1.0
isodate==0.5.4
jedi==0.9.0
Jinja2==2.8
jsonschema==2.4.0
junit-xml==1.7
jupyter-client==4.1.1
jupyter-core==4.0.6
lockfile==0.12.2
m2r==0.1.12
MarkupSafe==0.23
mccabe==0.3.1
mistune==0.7.3
nbconvert==4.1.0
nbformat==4.0.1
numpy==1.11.1
pathlib2==2.2.1
pep8==1.7.0
pexpect==3.3
pickleshare==0.5
Pigments==1.6
psutil==3.4.2
pyflakes==1.1.0
Pygments==2.1
pyparsing==2.1.10
pytz==2015.7
PyYAML==3.11
pyzmq==15.2.0
qtconsole==4.1.1
rdflib==4.2.2
rdflib-jsonld==0.4.0
recommonmark==0.4.0
requests==2.9.1
rope==0.9.4
ruamel.ordereddict==0.4.9
ruamel.yaml==0.12.4
scandir==1.5
schema-salad==2.2.20170216125639
shellescape==3.4.1
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.3.5
sphinx-rtd-theme==0.1.9
spyder==2.3.8
toil==3.6.0
traitlets==4.1.0
typing==3.5.3.0
